@page "/community/create"
@inherits Components.ValidationComponent



<EditForm Model="CreateViewModel" OnValidSubmit="Success">
	<Validations @ref="Validations" Mode="ValidationMode">
		<Card>
			<CardHeader><CardTitle Size="5">Community</CardTitle></CardHeader>
			<CardBody>
				<Row>
					<Column ColumnSize="ColumnSize.Is6">
						<Validation Validator="async e => await ValidateFieldAsync(e, nameof(CommunityViewModel.Name))">
							<TextEdit Placeholder="Nome community" @bind-Text="CreateViewModel.Name">
								<Feedback>
									<ValidationError />
								</Feedback>
							</TextEdit>
						</Validation>
					</Column>
					<Column ColumnSize="ColumnSize.Is6">
						<Validation Validator="async e => await ValidateFieldAsync(e, nameof(CommunityViewModel.WebSite))">
							<TextEdit Placeholder="Sito web" @bind-Text="CreateViewModel.WebSite">
								<Feedback>
									<ValidationError />
								</Feedback>
							</TextEdit>
						</Validation>
					</Column>
				</Row>
				<Row>
					<Column ColumnSize="ColumnSize.Is12">
						<PersonSelect></PersonSelect>
					</Column>
				</Row>
				<Row>
					<Column ColumnSize="ColumnSize.Is6">
						<FileEdit Changed="@FilesReady" Filter=".jpg, .png, .gif"></FileEdit>
					</Column>
					<Column ColumnSize="ColumnSize.Is6">
						@if (!string.IsNullOrEmpty(ImageUploaded))
						{
							<Figure Size="FigureSize.Is256x256" style="text-align:center">
								<FigureImage Source="@ImageUploaded" AlternateText="@(CreateViewModel.Name)" Style="border-color:black; border:2px; max-width:256px;max-height:256px;" />
								<FigureCaption>@CreateViewModel.Name</FigureCaption>
							</Figure>
						}
					</Column>
				</Row>
			</CardBody>
		</Card>
		<Row>
			<Column ColumnSize="ColumnSize.Is12" style="text-align: center">
				<Button Type="ButtonType.Submit" Color="Color.Primary"><Icon Name="IconAppName.Save" /> Save</Button>
			</Column>
		</Row>
	</Validations>
</EditForm>

