@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<Layout Sider="true">
	<LayoutSider>
		<LayoutSiderContent>
			<NavMenu></NavMenu>
		</LayoutSiderContent>
	</LayoutSider>
	<Layout>
		<LayoutHeader Fixed="true">
			<Bar Style="height: 64px;" Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
				<BarBrand>
					<BarItem>
						<BarLink To="">
							<Icon Name="IconName.Dashboard" />
							Community Italy
						</BarLink>
					</BarItem>
				</BarBrand>
				<BarMenu>					
					<BarEnd>						
						<BarItem>
							<BarLink To="https://github.com/andreatosato/Community-Italy" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></BarLink>
						</BarItem>
					</BarEnd>
				</BarMenu>
			</Bar>
		</LayoutHeader>
		<LayoutContent Padding="Padding.Is4.OnX">
			<Breadcrumb Mode="BreadcrumbMode.Auto">
				<BreadcrumbItem>
					<BreadcrumbLink To="">Home</BreadcrumbLink>
				</BreadcrumbItem>
			</Breadcrumb>
			@Body
			<Snackbar @ref="AppStore.Notification.Snackbar">
				<SnackbarBody>
					<span>@AppStore.Notification.Body</span>
					Single line of text directly related to the operation performed
				</SnackbarBody>
				<SnackbarAction Clicked="@(()=>AppStore.Notification.Snackbar.Hide())"><Icon Name="IconName.Clear"></Icon></SnackbarAction>
			</Snackbar>
		</LayoutContent>
	</Layout>
</Layout>

